.itemCard {
    width: 60vw;
    margin-bottom: 1em;
}
.binIcon {
    margin-left: 1em;
    font-size: 16px;
}
.binIcon:hover {
    cursor: pointer;
}

.oldPrice {
    text-decoration: line-through;
}

@media (max-width: 700px) {
    .itemCard {
        width: 100%;
    }
}
