.wrapper {
    height: 80vh;
    padding: 1em;
}

.ant-row .product-title {
    min-width: 200px;
    font-weight: bold;
    font-size: 2rem;
}

.product-info {
    font-size: 3rem;
}

.product-left {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.ant-image .product-img {
    cursor: pointer;
    max-width: 500px;
    width: 100%;
}

.ant-row {
    font-size: 1.1rem;
}

.price-old {
    text-decoration: line-through;
}

.price {
    font-weight: bold;
}

.dots > * {
    border: solid 1px #f5f4f2;
    border-radius: 1em;
    background-color: #d3cec5;
}

@media (max-width: 900px) {
    .wrapper {
        height: unset;
    }

    .ant-row .product-title {
        font-size: 1.5rem;
    }

    .product-left {
        margin-right: 1px;
    }

    .ant-image .product-img {
        position: relative;
        max-width: 500px;
    }
}
