.settingsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceWrapper {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.price {
    font-weight: 700;
}

.priceOld {
    font-weight: 400;
    text-decoration: line-through;
}

.card {
    width: 240px;
    height: 540px;
    margin: 0 auto;
}

.picture {
    width: 100%;
    height: 320px;
}

.button {
    margin-top: 1em;
}
