.card {
    width: 22vw;
    border-radius: 10px;
}

.title {
    margin-top: 0;
}

@media (max-width: 900px) {
    .card {
        width: 50vw;
    }
}

@media (max-width: 550px) {
    .card {
        width: 80vw;
    }
}
