.aboutUsInfo {
    display: flex;
    justify-content: space-between;
    padding: 2em 7em 0;
}

.personCards {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 2em 7em;
}

.RSSInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    text-align: center;
}

.RSSLogo {
    display: block;
    margin: auto;
    padding-bottom: .5em;
    width: 8vw;
}

@media (max-width: 750px) {
    .aboutUsInfo {
        padding: 2em 2em 0;
    }
    .personCards {
        flex-direction: column;
        align-items: center;
    }
    .RSSLogo {
        display: block;
        margin: auto;
        padding-bottom: .5em;
        width: 90px;
    }
}
